body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    color: rgb(red, green, blue)
}

#container {
    display: flex;
    height: 100vh;
    aspect-ratio: 1/1;
    flex-wrap: wrap;
}

.row {
    margin: 0 30px;
    display: flex;
    box-sizing: border-box;
    border: 1px solid black;
}

.column {
    height: 100%;
    box-sizing: border-box;
    border: 1px solid black;
    aspect-ratio: 1/1;
}